
body{
  background-color: #100b11;
}


/* Quiz */



.quiz-container {
  background-color: #f8f9fa;
  border-radius: 10px;
}
.quiz-container h2 {
  font-size: 3rem;
  font-weight: bold;
}

.quiz-question {
  background-color: #ffffff;
}

.quiz-question h4 {
  color: #333;
  font-size: 1.2rem;
}

.options {
  margin-top: 10px;
}

.form-check {
  margin-bottom: 10px;
}

.result-text {
  margin-top: 10px;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.quiz-container button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.1rem;
}

/* Landing Page */
.bodycont{
  height: 100vh;
}


.jumbotron {
  padding: 10rem;
  background-color: black;
}
.navbar {
  background-color: #283789;
  height: 5rem;
}

/* Login */

.login-cover{
  height: 100vh;
  
}
.login-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75rem;
  padding: 10rem;
}

/* Login */

/* Uploader */

.uploader-cover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: white;
  border-radius: 20px;
  height: 100vh;
}

.uploader-cover h1{
  font-weight: bold;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  background-color: whitesmoke;
  border-radius: 20px;
  
}

.dragdrop {
  border: 2px dashed #007bff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 10rem;
  width: 30rem;
}

.genQuizBtn{
  margin-top: 2rem;
  height: 3rem;
  width: 10rem;
}

/* End uploader */

/* footer */

.footer {
  background-color: #0C6CEA;
  color: whitesmoke;
  position: absolute;
  width: 100%;
}
