/* Quiz */

.quiz-container {
  background-color: #f8f9fa;
  border-radius: 10px;
}
.quiz-container h2 {
  font-size: 3rem;
  font-weight: bold;
}

.quiz-question {
  background-color: #ffffff;
}

.quiz-question h4 {
  color: #333;
  font-size: 1.2rem;
}

.options {
  margin-top: 10px;
}

.form-check {
  margin-bottom: 10px;
}

.result-text {
  margin-top: 10px;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.quiz-container button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.1rem;
}


/* Landing Page */

.jumbotron{
    padding: 10rem;
    background-color: black;
}
.navbar{
    background-color: black;
}

/* footer */

.footer{
    background-color: black;
    color: whitesmoke;
}